*
{
    margin: 0;
    padding: 0;
    
}
header
{
    background-color: black;
    height: 70px;
    position: sticky;
    top: 0px;

}
.nav
{
    padding: 10px;
}
.list
{
    display: inline;
    list-style: none;
    padding: 0px 13px;
    font-size: 30px;
}
.active-link
{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.active-link:hover
{
    color: red;
}
.container
{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
.box1
{
    width: 200px;
    height: 200px;
    background-color: red;
}
.box2
{
    width: 200px;
    height: 200px;
    background-color: green;
}
.box3
{
    width: 200px;
    height: 200px;
    background-color: pink;
}